rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth.uid != null;
    }
    function isMe(uid) {
      return signedIn() && request.auth.uid == uid;
    }
    match /users/{user} {
      allow read, write: if signedIn();
      allow update: if isMe(user);
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}