@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-primary outline-none;
}

img {
  @apply w-full;
}

.box-shadow {
  box-shadow: 0 64px 51px rgba(0, 0, 0, 0.07);
}

a {
  @apply underline text-[#CC0174] text-base;
  &:hover,
  &:active {
    @apply no-underline;
  }
}

.field {
  @apply mb-6 md:mb-8 relative;
  label {
    @apply block text-sm mb-2 font-medium;
  }
  .error-message {
    @apply absolute left-0 -bottom-1 text-xs text-[#ff0000] translate-y-full;
  }
  .field-error {
    @apply border-[#e74c3c];
  }
}

input,
textarea {
  @apply w-full text-base py-2 px-3 border border-[#D0D5DD] text-black rounded-md transition-all;
  &::placeholder {
    @apply text-[#667085];
  }
  &:hover,
  &:active {
    @apply border-primary;
  }
  &:focus {
    @apply border-second;
  }
}

textarea {
  @apply h-[50px];
}

.list {
  @apply absolute z-10 right-0 bottom-0 bg-white rounded-lg w-40 md:w-60 translate-y-full border border-gray-100;
  box-shadow: 0 4px 8px rgba(16, 24, 40, 0.05), 0 2px 4px rgba(16, 24, 40, 0.04);
  li {
    @apply p-2 md:px-4 text-sm md:text-base flex justify-between font-medium cursor-pointer transition-all hover:text-main-500;
    &:not(:last-child) {
      @apply border-b border-gray-100;
    }
    img {
      @apply w-4;
    }
  }
  &-select {
    @apply w-full pb-3 max-h-[280px] overflow-auto;
    li {
      @apply cursor-default select-none pb-0 pl-12 relative block justify-start;
      &:not(:last-child) {
        @apply border-b-0;
      }
      img {
        @apply absolute z-10 left-6 top-4 mr-2;
        &.arrow {
          @apply left-2 top-5 w-2.5;
        }
      }
      ul {
        li {
          @apply pl-8;
        }
        img {
          @apply left-2;
        }
      }
    }
  }
}

.swiper {
  .swiper-pagination-bullet {
    @apply bg-[#FFEBF6] rounded-full w-[7%] opacity-100 h-[6px];
    &-active {
      @apply bg-[#FF9AD4];
    }
  }
}

.checkbox {
  @apply absolute z-10 right-2 top-2 w-6 h-6 border-2 border-gray-200 rounded-full bg-white transition-all cursor-pointer;
  &:hover,
  &:active {
    @apply border-main-300;
  }
  &:before {
    content: '';
    @apply hidden absolute z-10 left-1/2 top-1/2 w-[60%] h-[60%] -translate-y-1/2 -translate-x-1/2 bg-main-300 rounded-full;
  }
}

.profile-page {
  .container {
    max-width: 1000px;
  }
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../assets/fonts/Inter-Thin.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/Inter-ExtraLight.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/fonts/Inter-Light.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/Inter-SemiBold.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/Inter-ExtraBold.ttf');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../assets/fonts/Inter-Black.ttf');
}
